<header class="site-header is-scrolled" id="site-header">
  <div class="header-inner">
    {% include "brand-logo.njk" %}
    <nav aria-label="Primary">
      <ul class="nav-links">
        <li><a href="/#features">Features</a></li>
        <li><a href="/faq/">FAQ</a></li>
        <li><a href="/why-link-accounts/">Plaid &amp; data</a></li>
        <li><a href="/#waitlist" class="nav-cta">Waitlist</a></li>
      </ul>
    </nav>
  </div>
</header>
